/* Hiding Styles for Mobile Screen */
.mobile {
  display: none;
}

/* Styles for whole web page */
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: Helvetica, Arial, Sans-serif;
}
@font-face {
  font-family: 'Freight Sans Medium';
  src: url('fonts/Freight Sans Medium.otf');
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
a {
  color: #365899;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
@media screen and (min-width: 769px) {
  input:focus {
    outline: none;
  }
  select:focus {
    outline: none;
  }
}


/* Styles for header */
header {
  height: 83px;
  width: 100%;
  background-color:#3D5B99 ;
  min-width: 980px;
}
.headersubdiv {
  margin: auto;
  height: 82px;
  width: 980px;
}
.fblogo {
  margin-top: 10px;
  margin-left: -20px;
}
.loginform {
  margin: 0;
  padding: 0;
  margin: 8px 0 0 0;
  border-collapse: collapse;
  float: right;
}
.logintext {
  width: 148px;
  height: 21px;
  color: white;
  font-size: 12px;
  font-family: inherit;
  line-height: 16.06px;
  vertical-align: middle;
}
.loginfield {
  color: black;
  border: 1px solid black;
  height: 23px;
}
.loginrowgap { /*Horizontal gap between login fields*/
  margin-left: 14px;
}
#forgotpw {
  color: #9cb4d8;
  vertical-align: top;
}
#loginbutton {
  color: white;
  background-color: #4267B2;
  border: 1px solid #29487D;
  padding: 3px 6px 3px 6px;
  font-weight: bold;
  cursor: pointer;
  width: 48px;
  align-items: center;
  
}
#loginbutton:hover {
  background-color: #365899;
}











/*body of forgotpw*/

.body{
  background-color:rgb(240,242,245) ;
  height: 390px;
  width: 100%;
  display: flex;
}

.white{
 width: 560px;
 height: 190px;
 background-color: white;
 margin-top: 100px;
 margin-left: 395px;
 border-radius: 3px;
 border: 1px solid rgb(199, 197, 197);
}

.word1{
  margin-left: 25px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 25px;
  font-size: 16px;
  font-weight: bold;
}
.line1{
  border-top: 1px groove rgb(204, 204, 204);
  width: 520px;
  margin-top: -5px;
  margin-left: 15px;
  
}

.box{
  width: 400px;
  height: 85px;
  border: none;
  margin-left: 80px;
  
}
.word2{
  margin-top: 8px;
  font-size: 12px;
  font-weight: 400;
  
}
.bu1{
  margin-top: -70px;
  width: 300px;
  height: 25px;
  border-radius: 2px;
  margin-top: -50px !important;
  border: 1px solid rgb(197, 197, 197) ;
}
.line2{
  border-top: 1px solid rgb(197, 197, 197);
  width: 100%;
  height: 46px;
  background-color: rgb(226, 225, 225);
  margin-top: -6px;
}

.bu2{
  width: 72px;
  height: 25px;
  float: right;
  margin-top: 10px;
  margin-right: 10px;
  background-color: rgb(245,246,247);
  border: 1px solid rgb(189, 188, 188);
  border-radius: 3px;
}
.bu2:focus{
  outline: none;
}

.bu2:hover{
  background-color:rgb(226, 226, 226) ;
}

.bu3{
  width: 54px;
  height: 25px;
  margin-top: 10px;
  margin-right: 7px;
  float: right;
  background-color: rgb(66,103,178);
  border: 1px solid rgb(41,72,125);
  color: white;
  font-size: 14px;
  border-radius: 3px;
  
}

.bu3:focus{
  outline: none;

}
.bu3:hover{
  background-color:rgb(31, 74, 161) ;
}

.t1:hover{
      text-decoration: none;
}
